:root {
    --primary: ;
    --secondary: ;
    --white: #FFFFFF;
    --gray50: #f9f9f9;
    --gray100: #ececec;
    --gray200: #e3e3e3;
    --gray300: #cdcdcd;
    --gray400: #b4b4b4;
    --gray500: #9b9b9b;
    --gray600: #676767;
    --gray700: #424242;
    --gray750: #2f2f2f;
    --gray800: #212121;
    --gray900: #171717;
    --gray950: #0d0d0d;
    --black: #000000;
}
