#headerMain {display: flex; justify-content: space-between; align-items: center; padding: 24px 50px;}
#headerMain nav ul{display: flex; gap: 20px;}
#headerMain nav ul .menu a{font-size: 20px; font-weight: var(--medium); color: var(--gray750); line-height: 100%;}